.h1 {
    text-align: center;
    font-size: 60px;
  }
.from-container
{
    height: 400px;
    width: 450px;
    border: 1px solid black;
    margin-left: 530px;
    margin-top: 50px;
    background-color: white; 
}
.login-from
{
    padding: 10px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input
{
    margin: 15px;
    height: 20px;
    width: 300px;
}
.btn-login
{
   font-size: 25px;
   background-color: #ff7200;
   border: none;
   border-radius: 5px;
   width: 100px;
   height: 40px;
   color: white;
   cursor: pointer;
  
}
.btn-login:hover
{
    color: black;
}
.already-account
{
    margin: 10px auto;
}
.register-ahref
{
    text-decoration: none;
    color: #ff7200;
}
