.container
{
    min-height: 100vh;
    display: flex;
   align-items: center;
    padding: 20px;
    padding-bottom: 60px;
   
}
.content
{
    text-align: center;
    margin-left: 230px;
   

}
.h3-content
{
    font-size: 30px;
    color: #333;
}
.h3-span
{
    background-color:  crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    
}
.h1-content
{
    font-size: 30px;
    color: #333;
}
.h1-span
{
    color:  crimson;
}
.paragraph-content
{
    font-size: 25px;
    margin-bottom: 20px;
}
.btn
{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
    text-transform: capitalize;
}
.btn:hover
{
    background-color:  #ff7200;
}