.register-title {
    font-size: 30px;
    margin-top: 20px;
    color: #333;
    text-align: center;
}

.form-container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    font-size: 18px;
    background-color: #ff7200;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #e66100;
}