

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #232323;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
}

.login-h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-login {
    background-color: #ff7200;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #e66000;
}

.already-account {
    margin-top: 15px;
    font-size: 14px;
}

.register-ahref {
    color: #ff7200;
    text-decoration: none;
    font-weight: bold;
}

.register-ahref:hover {
    text-decoration: underline;
}







